.App {
  background-color: #596e79;
  color: #f0ece2;
  height: 50%;
}
.select_input_fields {
  display: flex;
  justify-content: space-between;
}
/* //footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #596e79;
  display: flex;
  justify-content: center;
}
